fort.*
*.mod
*.o
*.i
*.i90
*genmod*
*.dat
*.eps
run.test
pngsaver
coll
run.test
PICini
*.log
*.txt
*.csv
*.pdf
*.out
*.exe
*.nml

build/
results/

# latex
*.aux
*.bbl
*.blg
*.idx
*.ind
*.lof
*.lot
*.out
*.toc
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.log
*.fdb_latexmk
*.snm
*.nav
*.dvi
*.synctex.gz
*.tex